body {
    background-color: black;
}

#haus-container {
    border: 10px;
    border-image: url(../resources/images/icons/border-skull.png) 33% repeat;
    display: inline-block;
    height: 480px;
    width: 400px;
    background-color: black;
    margin-left: 50%;
    #transform-origin: 0 0;
    #transform: scale(1.2) translateX(-50%);
    transform: translateX(-50%);
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

#start-screen {
    height: 350px;
    width: 364px;
}

#start-screen img {
    display: block;
}

#haus-map {
    display: none;
    height: 350px;
}

#haus-map table {
    border: 2px solid black;
    border-collapse: collapse;
}

#haus-map td {
    padding: 0px;
    position: relative;
}

#haus-map .tile {
    width: 20px;
    height: 20px;
    padding: 0px;
    z-index: -1;
    background-color: lightgray;
}

#haus-map .ghost-mode img {
    -webkit-filter: sepia(100%);
}

#haus-map .character {
    width: 20px;
    height: 20px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#haus-main-dialog {
    width: 250px;
    min-height: 50px;
    max-height: 75px;
    margin-left: 20px;
    float: left;
}

#haus-choice-dialog {
    min-height: 50px;
    max-height: 75px;
    margin-left: 10px;
    margin-right: 20px;
    font-family: monospace;
    overflow: hidden;
    float: left;
    position: relative;
}

#haus-choice-dialog table {
    padding: 0px;
    margin: 0px;
}

#haus-choice-dialog td {
    padding: 3px;
}

.dialog {
    border: 10px;
    border-image: url(../resources/images/icons/border-skull.png) 33% repeat;
    display: none;
}

.dialog-text{
    font-family: monospace;
    font-stretch: expanded;
    color: grey;
    padding: 5px;
}

#dialog-container{
    padding: 0px;
    margin: 0px;
    height: 75px;
}

#footer-container{
    margin-right: 1px;
    margin-top: 25px;
}

.footer-btn{
    float: right;
    border: 1px solid grey;
    background-color: #000000;
    color: grey;
    margin: 2px;
    border-radius: 12px;
    font-family: monospace;
}

.footer-btn:hover{
    color: grey;
    border: 1px solid grey;
}

.footer-btn:active{
    background-color: #555555;
}

.orientation-up{
    -ms-transform: rotate(180deg); /* ie 9 */
    -webkit-transform: rotate(180deg); /* chrome, safari, opera */
    transform: rotate(180deg);
}

.orientation-down{
    -ms-transform: rotate(0deg); /* ie 9 */
    -webkit-transform: rotate(0deg); /* chrome, safari, opera */
    transform: rotate(0deg);
}

.orientation-left{
    -ms-transform: rotate(90deg); /* ie 9 */
    -webkit-transform: rotate(90deg); /* chrome, safari, opera */
    transform: rotate(90deg);

}

.orientation-right{
    -ms-transform: rotate(-90deg); /* ie 9 */
    -webkit-transform: rotate(-90deg); /* chrome, safari, opera */
    transform: rotate(-90deg);
}

.object-name, .character-name {
    font-weight: bold;
}
